In [ ]:
import joblib
loaded_model = joblib.load('/content/drive/MyDrive/model_svc_lr_fl_do.sav')

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/test_dom.tsv", sep = "\t")
df2 = df["label_manual"].replace("Instrumental", "Abstain")
df2 = df2.replace("Factual", "Abstain")
df = df.drop('label_manual', axis=1)
df = df.join(df2)
df["label_manual"]

0           Abstain
1           Abstain
2           Abstain
3           Abstain
4           Abstain
           ...
995         Abstain
996         Abstain
997         Abstain
998    Navigational
999         Abstain
Name: label_manual, Length: 1000, dtype: object

In [ ]:
col = ['label_manual', 'query_url']
df = df[col]
df.tail()

     label_manual                                          query_url
995       Abstain                      query : hit ledger url : imdb
996       Abstain  query : first health insurance reviews url : c...
997       Abstain              query : luxury suv rental url : hertz
998  Navigational  query : sam's club synchrony sign in url : sam...
999       Abstain                  query : sylane url : en wikipedia

In [ ]:
category_to_id = {'Abstain': 0,
 'Navigational': 1,
 'Transactional': 2}

In [ ]:
df['category_id'] = df['label_manual'].map(category_to_id)
df.head()

  label_manual                                          query_url  category_id
0      Abstain          query : best reads url : thegreatestbooks            0
1      Abstain                query : tamerind url : en wikipedia            0
2      Abstain                    query : show mi ip url : showip            0
3      Abstain  query : do carpenter ants eat wood url : doyou...            0
4      Abstain  query : rheumatoid arthritis in children url :...            0

In [ ]:
import joblib
vectorizer = joblib.load('/content/drive/MyDrive/tfidf.pkl')
print(vectorizer)
arr_test = df["query_url"].to_numpy()
X_test = vectorizer.transform(arr_test)
y_test = df.category_id

TfidfVectorizer(encoding='latin-1', ngram_range=(1, 2), sublinear_tf=True)

In [ ]:
scaler = joblib.load('/content/drive/MyDrive/scaler.pkl')
X_test_stand = scaler.transform(X_test)

In [ ]:
from sklearn.metrics import precision_score, recall_score,f1_score

loaded_model = joblib.load('/content/drive/MyDrive/model_svm.sav')
y_pred = loaded_model.predict(X_test_stand)
print(precision_score(y_test, y_pred, average='macro'))
print(recall_score(y_test, y_pred, average='macro'))
print(f1_score(y_test, y_pred, average='macro'))

0.7932058278606045
0.7741464684058609
0.7823058167885755

In [ ]:
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred, 
                                    target_names= ["Informational","Navigational","Transactional"]))

               precision    recall  f1-score   support

Informational       0.92      0.96      0.94       786
 Navigational       0.84      0.63      0.72       171
Transactional       0.73      0.84      0.78        43

     accuracy                           0.90      1000
    macro avg       0.83      0.81      0.81      1000
 weighted avg       0.90      0.90      0.89      1000

In [ ]:
pip install python-Levenshtein

Requirement already satisfied: python-Levenshtein in /usr/local/lib/python3.7/dist-packages (0.12.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein) (57.4.0)

In [ ]:
import Levenshtein as lev
Str1 = "indeed job"
Str2 = "indeed.com"
Distance = lev.distance(Str1.lower(),Str2.lower()),
print(Distance)
Ratio = lev.ratio(Str1.lower(),Str2.lower())
print(Ratio)

(3,)
0.7